[Unit]
Description=Softether container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start inf_softether
ExecStop=/usr/bin/docker stop inf_softether

[Install]
WantedBy=default.target
